html, body {
    width: 100%;
}
body {
    background: url(/themes/business/gfx/fon.jpg);
  	padding:0;
  	background-size: cover;

}
body.printPage {text-align:left}
body.printPage h1 {margin:15px}
#yii-debug-toolbar-swither {top:50px}
#yii-debug-toolbar-swither .close  {opacity:1}

/****************************************/
#wrap { 
    border:none;
    height: auto !important;
    margin: 0 auto 15px auto;
    min-height: 100%;
    position: relative;
}

#main {
    clear: both;
    padding: 0 0 85px;
}


#head {height: 160px; /*padding: 35px 23px 23px 35px;*/ position: relative; overflow:hidden;width: 1170px;}
#head .logo {margin-top:15px; height: 140px; padding: 0;   width: 293px;}
#head .logo img {border: 0 none;}
#head .cname {
	color: #333333; 
	font: 25px Arial; 
	margin-top:40px;
	width: 585px;
	padding: 0;
  	margin: 0;
  	padding-left: 21px;
  	padding-top: 22px;
  	-webkit-transition: all 500ms linear;
		-moz-transition: all 500ms linear;
		-o-transition: all  500ms linear;
		-ms-transition: all  500ms linear;
		transition: all  500ms linear;
}

#head .cname .fa{   
	font-size: 40px;
}
#head .cname .fa:hover { 
	color: #ff5300;
		-webkit-transition: all 500ms linear;
		-moz-transition: all 500ms linear;
		-o-transition: all  500ms linear;
		-ms-transition: all  500ms linear;
		transition: all  500ms linear;
}
#head .cname p { 
	font: 18px Arial; 
	margin-top: 3px; 
	padding: 0;
}
#head .cname li{ 
	display: inline-block;
	padding-right: 34px;
}
#head .cname .item { 
	text-align: center;
	color: #666666; 
}
#head .cname .item:hover{
	color: #ff5300;
		-webkit-transition: all 500ms linear;
		-moz-transition: all 500ms linear;
		-o-transition: all  500ms linear;
		-ms-transition: all  500ms linear;
		transition: all  500ms linear;
}
#head .cname a{
	text-decoration: none;
}
#head .tright {
	margin-top:10px; 
	overflow: hidden; 
	float: right;
	padding-left: 0;
  	padding-right: 0;
  	width: 292px;
}

#head .tright .numbers {color: #ff5300;}
#head .tright .numbers p {font: 30px Tahoma;}
#head .tright .numbers p strong {font: 30px tahoma; margin: 0; padding: 0;   font-weight: 700;}

#footer {padding:20px 0; height: 120px; position: relative;}
#footer .logo img {}
#footer .logo {    
	margin-left: 22px;
  	margin-top: 11px; 
}
#footer .logo-cvek{
  margin-left: 57px;
}
#footer .info{
  padding-left: 105px;
}
#footer .vcard{
	color: #666666;
}
#footer .vcard	.email{
	color: #666666;
  	text-decoration: none;
}

#cvek {   float: right;
  width: 82px;
  margin-top: 25px;
  margin-right: 28px;
  overflow: hidden;}
#cvek a, #cvek a:link, #cvek a:visited {
  background-image:url(/themes/business/gfx/cvek_logo.png);
  background-repeat:no-repeat;
  background-position:0 0;
  text-indent:-500px;
  display:block;
  overflow:hidden;
  width:82px;
  height:24px;
  transition-property:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
}
#cvek a:hover {background-position:0 -26px}

#text_body {

}

#container {
}
#content {

}
#sidebarLeft, #sidebarRight {margin-top: 25px;}
.block .inside {padding: 10px 25px 0;}



table.table0 td p, table.table1 td p, table.table2 td p {
    margin: 0;
    padding: 0;
}
table.table0 {
    border-collapse: collapse;
}
table.table0 td {
    border: medium none;
    padding: 5px;
}
table.table1 {
    border-collapse: collapse;
}
table.table1 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 {
    border-collapse: collapse;
}
table.table2 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 th {
    background: none repeat scroll 0 0 #FF7B12;
    border: 1px solid #FFFFFF;
    color: #111111;
    padding: 8px 5px;
    text-align: center;
}
table.table3 {
    border-collapse: collapse;
}
table.table3 td {
    border: 1px solid #CCCCCC;
    padding: 1px;
    text-align: center;
    width: 8px;
}
table.table3 td.name {
    border: 1px solid #CCCCCC;
    padding: 1px 1px 1px 5px;
    text-align: left;
    width: 8px;
}
table.table3 th {
    background: none repeat scroll 0 0 #3863BA;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 1px;
    text-align: center;
}
table.table1 tr:hover, table.table2 tr:hover, table.table3 tr:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}

/* Виджет меню слева */
.b-menu-side-list {padding: 8px 0; position: relative; border:1px solid #eee}
.b-menu-side-list ul {list-style: none;}
.b-menu-side-list li {font-size:18px}
.b-menu-side-list .nav-list  li  a {padding:10px 15px}
.b-menu-side-list .nav-list .nav-list  li  a {padding:8px 15px}
.b-menu-side-list .nav-list .nav-list .nav-list  li  a {padding:6px 15px}
.b-menu-side-list li li {font-size:16px;}
.b-menu-side-list .nav-list .nav-list > .active > a {background:none; color:#000}
.b-menu-side-list li li li {font-size:14px;}
.b-menu-side-list .nav-list .nav-list .nav-list > .active > a {background:none; font-weight:bold; color:#000}

.b-menu-top {
  padding:0 5px;
  background-color: #EEEEEE;
  background-image:-moz-linear-gradient(top,#F5F5F5,#EEEEEE);
  background-image:-ms-linear-gradient(top,#F5F5F5,#EEEEEE);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#F5F5F5),to(#EEEEEE));
  background-image:-webkit-linear-gradient(top,#F5F5F5,#EEEEEE);
  background-image:-o-linear-gradient(top,#F5F5F5,#EEEEEE);
  background-image:linear-gradient(top,#F5F5F5,#EEEEEE);
  background-repeat:repeat-x;
  border: 1px solid #E5E5E5;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  filter:progid:dximagetransform.microsoft.gradient(startColorstr='#F5F5F5',endColorstr='#EEEEEE',GradientType=0);
  margin-bottom:20px;
  overflow:inherit;
}
.b-menu-top .nav-collapse:after {clear:both; content: ""; display: table; line-height: 0;}
.b-menu-top .pull-right {margin-top:4px; margin-bottom:0}
.b-menu-top .dropdown-menu .caret {display:none}

.wShare{margin:0}
.wShare td{text-align:left;}

.b-ajax-process {background:url(../../../ngin/assets/gfx/loading_s.gif) no-repeat 0 0; display:inline-block; visibility:hidden; width:16px; height:16px; line-height:16px; vertical-align:text-top;}
.b-ajax-process-active {visibility:visible;}

.pagination .b-ajax-process {margin-left:20px; margin-top:-15px}
#back-top {
    display: none;
}
#back-top { font-size: 20px;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.3; 
    position: fixed;
    top: 0; 
    height:100%; cursor: pointer;
    width: 40px;
}
#back-top:hover{ opacity: 0.9;  background:#F0F0F0;}
#back-top span{display:block; padding:10px}

.container{
	width: 1170px !important;
}
.wrap-list{
	min-width: 1170px !important;
	max-width: 1170px !important;
  	margin: 0 auto;
  	background: url(/themes/business/gfx/bg_kv.png);
}
.carousel {
  	margin-top: -54px;
  	width: 1170px;
  	margin-left: -15px;
}
.b-vitrine .item{
	height: auto !important;
}

.b-menu-bottom {
	width: 1170px;
	height: 109px;
	background-color: #fff;
	color: #ff5300;
	margin: 0px !important;
}
.b-menu-bottom .adres{
	display: inline-block;
  	font-size: 24px;
  	height: 109px;
  	width: 363px;
  	  padding: 36px;
  	  transition: background-color 500ms linear;
}
.b-menu-bottom .fa{
	font-size: 35px;
	padding-right: 5px;
	
}
.b-menu-bottom .location{
	display: inline-block;
  	font-size: 24px;
  	height: 109px;
  	height: 109px;
	width: 402px;
	padding: 36px;
	padding-left: 85px;
  	
}
.b-menu-bottom .print{
	display: inline-block;
  	font-size: 24px;
  	height: 109px;
  	width: 397px;
    padding: 36px;
  	vertical-align: top;
}
.b-menu-bottom .shir{
	white-space: normal;
	display: inline-block;
	width: 215px;
  	margin-top: -9px;
  	vertical-align: middle;

}
.b-menu-bottom a:last-child {
	text-align: left;
}
.b-menu-bottom .fa-delicious {
  	margin-top: 23px;
    padding-left: 25px;
} 
.b-menu-bottom a{ 
	color: #ff5300 !important;
  	text-decoration: none; 
  	font-size: 24px;
  	text-transform: none !important;
 }
.b-menu-bottom a:hover, .b-menu-bottom a:focus {
  	color: #ff0c00 !important ;
}
.call-me {
        padding:10px;
        font:normal 14px Arial, serif;
        background:#ff5300;
        color:#fff;
        border:0;
        margin: -4px 26px 19px 21px;
        line-height:14px;
        float:right;
        border-radius: 8px;
		-webkit-transition: background-color 500ms linear;
		-moz-transition: background-color 500ms linear;
		-o-transition: background-color 500ms linear;
		-ms-transition: background-color 500ms linear;
		transition: background-color 500ms linear;
}
.call-me:hover {
		  background:#666666;
		  color: #fff;
		  -webkit-transition: background-color 500ms linear;
		  -moz-transition: background-color 500ms linear;
		  -o-transition: background-color 500ms linear;
		  -ms-transition: background-color 500ms linear;
		  transition: background-color 500ms linear;
}
.wrap-list .box_skitter {
	width: 1170px;
	height: 659px;
	background:#ede7e0;
}